#hero {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/img/hero-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 14px;
}

@media (min-width: 768px) {
  #hero {
    background-image: url("../../assets/img/hero.jpg");
  }
}

.navbar-light .navbar-brand {
  background-image: url("../../assets/img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  background-size: 80%;
}

#navcol-1 {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  filter: blur(0px) brightness(140%) contrast(194%);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(34,34,34);
}

.h1, h1 {
  color: #222;
}

#title {
  font-family: Montserrat, sans-serif,Abel;
  font-size: 32px;
}

#subtitle {
  font-family:  ;
  font-size: 40px;
  color: #222;
}

.p-top {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0px;
}

.p-bot {
  font-size: 13px;
}

.reserve-button {
  background-color: rgba(0,98,204,0);
  border: 3px solid white;
  border-radius: 30px;
}

.down-arrow {
  background-color: rgba(0,98,204,0);
  border: 0px;
  border: none;
  font-size: 32px;
}

.col.with-border {
}

#hero-bottom .container {
  max-width: 700px;
  text-align: center;
}

.col.with-border {
  border: 1px solid rgba(255,255,255,0.27);
  border-bottom: 0;
  border-top: 0;
}

@media (max-width: 432px) {
  #hero-bottom .row {
    font-size: small;
    /*color: red;*/
  }
}

@media (max-width: 432px) {
  .row.d-flex.dsmall {
    font-family: Abel;
    color: RED;
    font-size: 120px;
    text-align: left;
  }
}

@media (max-width: 900px) {
  #navcol-1 {
    color: red;
    font-style: italic;
    /*font-weight: 100;*/
  }
}

#navcol-1 {
  font-weight: bold;
  font-size: small;
}

@media (min-width: 1122px) {
  .nav-right {
    margin-right: 70px;
  }
}

@media (min-width: 1122px) {
  .nav-left {
    margin-left: 70px;
  }
}

#vs {
  text-align: center;
}

#vs iframe {
  width: 400px;
  height: 500px;
}

@media (min-width: 992px) {
  #vs iframe {
    width: 900px;
    height: 500px;
  }
}

#stat {
  width: 370px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#cell-left {
  text-align: left;
}

#cell-right {
  text-align: right;
  font-weight: bold;
}

@media (max-width: 576px) {
  #underl {
    text-decoration: underline;
    font-style: italic;
  }
}

#figcap {
  color: white;
}

#inter {
  margin-right: 20px;
  font-size: 22px;
  font-family: Montserrat, sans-serif;
}

#interior {
  width: 100%;
  height: 60vh;
}

@media (min-width: 768px) {
  #interior {
    width: 100%;
    height: 100vh;
  }
}

#interior .figure {
  max-width: 90%;
}

@media (min-width: 768px) {
  #interior .figure {
    max-width: 70%;
  }
}

#topview {
  width: 100%;
  height: 120vh;
  background-image: url("../../assets/img/top.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#topview .container {
  margin-bottom: 120px;
}

